[submodule "employee-front"]
	path = employee-front
	url = https://github.com/alirezaJvh/employee-front.git
[submodule "employee-backend"]
	path = employee-backend
	url = https://github.com/alirezaJvh/employee-backend.git
